body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
}

#info{
  position: fixed;
  right: 10px;
  top: 10px;
}

#form {
  background-color: rgb(55, 59, 63);
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

#data {
  background-color: rgb(55, 59, 63);
  display: block;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.label span{
  float: right;
}


#grid {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(6, 1fr);
  aspect-ratio: 1/1;
  gap: 1%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #1E1E1E;
  color: #fff;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}



#generate {
  background-color: aliceblue;
  border: none;
  border-radius: 2px;
}

#seed_input {
  border: none;
  border-bottom: 1px solid rgb(0, 153, 255);
  background-color: transparent;
  color: white;
  width: 9em;
}

#nb_node+output {
  display: inline-block;
  width: 1.2em;
  text-align: right;
}

#seed_container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #2b2b30;
}

input {
  float: right;
}

.label {
  margin-right: 20px;
}



/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #2b2b30;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #43e5f7;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #838486;
    box-shadow: -80px 0 0 80px #43e5f7;
  }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
  background-color: #2b2b30;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
  background-color: #2b2b30;
}